# Caddyfile for Discord 2017. Created by Gunawan092w
# See License to their assets use: https://discord.com/licenses
# Don't sue me pls :3
# Repo: https://github.com/nightlyproject/discord2017

dc17.np01.us.to:80 { # replace dc17.np01.us.to:80 with your own domain.
	root * /path/to/discord2017/client # Replace this with your root directory of web
	file_server
	handle_errors { # Handles error for 404. so like everytime someone is going to /app, it will rewrite the 404 page to index.html. which is the client.
		@404 { # i think it's a flag ?
			expression {http.error.status_code} == 404
		}
		rewrite @404 /index.html
		file_server
	}
	handle_path /assets* { # Handles the assets path :D
		root * /path/to/discord2017/assets
		file_server
	}
}